body{
    font-family: 'Allerta', sans-serif;
    margin: 0;
}

.button{
    border-radius: 5px;
    border: none;
    background: #fd324e;
    color: white;
    padding: 7px;
}

.titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    margin-bottom: 0;
    margin-top: 70px;
    
}

.title-a{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 70px;
}

.title-b{
    font-size: 50px;
    margin-bottom: 20px;
}

.guitarras{
    color: #1f313c;
}

.guitarras h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}

.portada{
    background-image: url('../images/background.png');
    color: white;
    padding: 20px;
}

.portada button{
    margin-bottom: 70px;
}

.menu{
    font-size: 24px;
    position: absolute;
    right: 0;

}

.menu, .logotipo, .menu li {
     display: inline-block; 
}

.menu li{
    margin-left: 30px;
}

.contenedor{
    width: 800px;
    margin: auto;
}

.guitarra{
    padding: 10px;
    margin: 10px;
    /*overflow: hidden;*/
    border: 1px solid black;
    border-radius: 8px;
}

.guitarra ol{
    padding: 0;
}

.right{
    float: right;
    position: relative;
    top: -127px;
}

.left{
    float: left;
    position: relative;
    top: 80px;
}

.contenedor-guitarra-a{
    padding-left: 20px;
}

.contenedor-guitarra-b{
    margin-left: 370px;
}

.header{
    position: relative;
}

.footer{
    background: #273b47;
}

.contacto img{
    display: block; /* Hacemos que los elementos que se encuentren seguidos de la imagen se ubiquen debajo de ella*/
}

.contacto strong{
    display: block;
}

.contacto a{
    color: white;
    text-decoration: none;
    margin: 10px 10px 10px 0;
}

.contacto{
    display: flex;
    width: 300px; /* Le ponemos un ancho a este elemento para que nos cuadre mejor*/
    flex-wrap: wrap;
    align-items: center;
}

.footer .contenedor{
    display: flex;
    justify-content: space-between;
}

.formulario{
    display: flex;
    width: 400px;
    color: white;
    padding: 50px 10px;
}

.col1, col2 {
    display: flex;
    flex-direction: column;
}

.col1{
    margin-right: 20px;
}

col2{
    align-items: cen-start;
}

.col1 .sexo{
    font-size: 10px;
    margin-top: 5px;
}
.intereses label{
    font-size: 10px;
}

.formulario label, .sexo, .intereses{
    margin-bottom: 5px;
}

/*
    USO DE FLexbox
    OJO: flex solo afecta a hijos directos

    display: flex;

    una vez agregada esta propiedad podemos añadir:
    justify-content: flex-star;
    justifica el contenido: con flexibilidad hacia el inicio o hacia la izquierda,

    justify-content: flex-star;
    justifica el contenido: con flexibilidad hacia el final o hacia la derecha,

    justify-content: center;
    justifica el contenido: dando flexibilidad al centro,

    justify-content: space-around;
    justifica el contenido: dejando espacios alrededor o a los lados,

    justify-content: space-between;
    justifica el contenido: dejando espacio entre objeto y objeto, pero eliminando el espacio al inicio de línea y al final de línea.

    luego podre agregar la propiedad wrap
    flex-wrap: nowrap;
    flexibilidad a los objetos que rodean: estará desactivada osea se desbordaran sobreponiendose (colocándose uno encima de otro) si el ancho de ventana o linea en muy corto.

    flex-wrap: wrap;
    flexibilidad a los objetos que rodean: estará activa, permitiendo la auto-distribución de los objetos-caja de tal forma que sean visibles en la ventana.

    Finalmente: para dirección de visualización
    flex-direction: row;
    orientación de flexibilidad en: fila.

    flex-direction: column;
    orientación de flexibilidad en: columna
*/

table{
    width: 100%; /*Le ponemos el año igual al que tiene su padre, es decir contenedor*/
}

th{
    background: #273b47;
    color: white;
    padding: 10px 20px;
    text-align: left;
}

td{
    padding: 20px;
}

table, td, th{
    border: 1px solid #273b47;
    border-collapse: collapse;
}

.menu li::before{ /* Para poner el elemento antes que otro(before) sino usariamos after para verlo en el otro lado*/
    content: '·';
    font-size: 50px;
    line-height: 20px;
    color: blue;
}
