body{
    font-family: 'Allerta', sans-serif;
    margin: 0;
}

/*OJO se recomienda por jerarquia que los estilos de etiquetas vayan arriba del todo*/

table{
    width: 100%; /*Le ponemos el año igual al que tiene su padre, es decir contenedor*/
}

th{
    background: #273b47;
    color: white;
    padding: 10px 20px;
    text-align: left;
}

td{
    padding: 20px;
}

table, td, th{
    border: 1px solid #273b47;
    border-collapse: collapse;
}

input, textarea{
    outline: 0;
}

input:focus, textarea:focus{ /* Se pone : porque focus es una psudoclase*/
    background: lightgrey;
}

.background{ /* Las clases utilitarias tambien van arriba del todo*/
    background-image: url('../images/background.png');
    background-size: cover;
}

.contenedor{
    width: 800px;
    margin: auto;
    position: relative; 
}

.button{
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 18px;
    padding: 7px;
    cursor: pointer;
    text-decoration: none;
   /*background: #fd324e;
    background: linear-gradient(to left, #fe344e, #ff7250);*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f85032+0,f16f5c+50,f6290c+51,f02f17+71,e73827+100;Red+Gloss+%231 */
    background: #f85032; /* Old browsers */
    background: -moz-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}

.titulo span{
    text-decoration: underline;
}
 
.titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    margin-bottom: 0;
    margin-top: 70px;
    
}

.title-a{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 70px;
}

.title-b{
    font-size: 50px;
    margin-bottom: 20px;
}

.guitarras{
    color: #1f313c;
    margin-bottom: 60px; 
}

.guitarras h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}

.portada{
    color: white;
    padding: 20px;
}

.portada button{
    margin-bottom: 70px;
}

.menu{
    font-size: 22px;
    position: absolute; /* Las posiciones absolutas buscan posicionarse segun el elemento relativo mas proximo o sino body*/
    right: 0;

}

.menu, .logotipo, .menu li {
     display: inline-block; 
}

.logotipo{
    margin-left: 0;
}

.menu li{
    margin-left: 30px;
}

.guitarra{
    margin: 10px 10px 40px 10px;
    padding: 10px;
    /*overflow: hidden;*/
    border: 1px solid black;
    border-radius: 8px;
}

.guitarra ol{
    padding: 0;
}
 
.guitarra.b{ /* Si quiero ponerle un estilo a un elemento que tiene dos clases, usaremos este selector para solo afectar a la clase b*/
    height: 190px;
}

.right{
    float: right;
    position: relative;
    top: -127px;
}

.left{
    float: left;
    position: relative;
}

.contenedor-guitarra-a{
    padding-left: 20px;
}

.contenedor-guitarra-b{
    margin-left: 370px;
    position: relative;
    bottom: 90px;
}

.header{
    position: relative;
}

.footer{
    background: #273b47;
    padding: 50px 10px;
}

.contacto{
    display: flex;
    width: 300px; /* Le ponemos un ancho a este elemento para que nos cuadre mejor*/
    flex-wrap: wrap;
    align-items: center;
    height: 200px;
}

.contacto img{
    display: block; /* Hacemos que los elementos que se encuentren seguidos de la imagen se ubiquen debajo de ella*/
}

.contacto strong{
    display: block;
}

.contacto a{
    color: white;
    text-decoration: none;
    margin: 10px 10px 10px 0;
}

.footer .contenedor{
    display: flex;
    justify-content: space-between;
}

.formulario{
    display: flex;
    width: 400px;
    color: white;
}

.col1, col2 {
    display: flex;
    flex-direction: column;
}

.col1{
    margin-right: 20px;
}

.col2{
    align-items: cen-start;
}

.col2 .button{
    margin-top: 15px;
}

.col1 .sexo{
    font-size: 10px;
    margin-top: 5px;
}
.intereses label{
    font-size: 10px;
}

.formulario label, .sexo, .intereses{
    margin-bottom: 5px;
}

/*
    USO DE FLexbox
    OJO: flex solo afecta a hijos directos

    display: flex;

    una vez agregada esta propiedad podemos añadir:
    justify-content: flex-star;
    justifica el contenido: con flexibilidad hacia el inicio o hacia la izquierda,

    justify-content: flex-star;
    justifica el contenido: con flexibilidad hacia el final o hacia la derecha,

    justify-content: center;
    justifica el contenido: dando flexibilidad al centro,

    justify-content: space-around;
    justifica el contenido: dejando espacios alrededor o a los lados,

    justify-content: space-between;
    justifica el contenido: dejando espacio entre objeto y objeto, pero eliminando el espacio al inicio de línea y al final de línea.

    luego podre agregar la propiedad wrap
    flex-wrap: nowrap;
    flexibilidad a los objetos que rodean: estará desactivada osea se desbordaran sobreponiendose (colocándose uno encima de otro) si el ancho de ventana o linea en muy corto.

    flex-wrap: wrap;
    flexibilidad a los objetos que rodean: estará activa, permitiendo la auto-distribución de los objetos-caja de tal forma que sean visibles en la ventana.

    Finalmente: para dirección de visualización
    flex-direction: row;
    orientación de flexibilidad en: fila.

    flex-direction: column;
    orientación de flexibilidad en: columna
*/

.menu li::before{ /* Para poner el elemento antes que otro(before) sino usariamos after para verlo en el otro lado*/
    content: '○';
    font-size: 50px;
    line-height: 20px;
    color: blue;
}

.menu a{
    color: white;
    text-decoration-line: none;
}

.menu li::before{
    color: white;
}

.tabla{
    margin: 50px 0px 50px 0px;
}